@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.3s ease-out forwards;
}
